.background {
    position: relative;
    top: -60rem;
    left: 2rem;
    width: 90rem;
    height: 35rem;
    border-radius: 3rem;
    background-color: whitesmoke;
}

.txt{
    width: 25rem;
    position: relative;
    top: 2rem;
    left: 5rem;
}

.txt h3{
    font-size: 2rem;
    font-family: sans-serif;
    text-align: left;
    font-weight: 600;
    color: #1aba9c;
}

.txt h1{
    font-family: serif;
    color: #001a2c;
    font-size: 4rem;
    margin-bottom: -1rem;
    margin-top: -1rem;
}

.txt p{
    font-size: 25px;
    font-family: sans-serif;
    color: #001a2c;
}

.readmorebt{
    padding: 15px;
    position: relative;
    top: 4rem;
    left: 14rem;
    border-radius: 30px;
    font-family: sans-serif;
    padding-left: 40px;
    padding-right: 40px;
    font-size: large;
    font-weight: 700;
    color: white;
    background-color: #ff5710;
    cursor: pointer;
}

.readmorebt:hover{
    background-color: #001a2c;
}

.chef{
    position: relative;
    top: -30rem;
    left: 45rem;
}

.utensils{
    position: relative;
    top: -49rem;
    width: 12rem;
}