.bartender{
    position: relative;
    left: 53rem;
    top: 8rem;
}

.wall_plant{
    position: relative;
    top: -45rem;
    left: 85rem;
}

.wall_accessories img{
    width: 12rem;
    position: relative;
    top: -50rem;
    left: 55rem;
}

.txt{
    width: 30rem;
    position: relative;
    top: -52rem;
    left: 5rem;
}

.txt h3{
    font-size: 2rem;
    font-family: sans-serif;
    text-align: center;
    font-weight: 800;
    color: #ffa92c;
}

.txt h1{
    font-family: serif;
    color: #001a2c;
    font-size: 4rem;
    margin-bottom: -1rem;
    margin-top: -1rem;
}

.txt p{
    font-size: 25px;
    font-family: sans-serif;
    color: #001a2c;
}

.readmorebt{
    padding: 15px;
    position: relative;
    top: -51rem;
    left: 14rem;
    border-radius: 30px;
    font-family: sans-serif;
    padding-left: 40px;
    padding-right: 40px;
    font-size: large;
    font-weight: 700;
    color: white;
    background-color: #ff5710;
}