.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

form{
    text-align: center;
}

form label{
    font-family: sans-serif;
    font-size: xx-large;
    font-weight: 600;
    color: #efe4cd;
}

form input,select{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 6rem;
    padding-right: 6rem;
    border-radius: 5rem;
    background-color: #efe4cd;
    font-family: serif;
    text-align: center;
    font-size: large;
    color: #ff9e1c;
    font-weight: 700;
}

form button{
    padding: 15px;
    position: relative;
    border-radius: 30px;
    font-family: sans-serif;
    padding-left: 40px;
    padding-right: 40px;
    font-size: large;
    font-weight: 700;
    color: white;
    background-color: #ff5710;
    cursor: pointer;
    margin-top: 1rem;
}

form button:hover{
    background-color:#001a2c;
    color:#ff5710
}

.background{
    background-color: #fe9d1c;
    width: 39rem;
    height: 30rem;
    position: relative;
    top: -29rem;
    left: 27rem;
    z-index: -1;
    border-radius: 4rem;
    margin-bottom: -391px;
}

.preview_container{
    display: none;
}

.itemTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .itemTable th,
  .itemTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .itemTable th {
    background-color: #f2f2f2;
    color: #333;
  }
  
  .itemTable tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .itemTable tr:hover {
    background-color: #e6f7ff;
  }

  .editButton {
    background-color: #ffc107;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 4px;
}
.editButton:hover {
    background-color: #e0a800;
}